<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-primary">
            <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SISTEMA WEB</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/">Cadastrar</a>
                            <a class="nav-link" href="/consulta">Consultar</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <p>
                <form action="/cadastrar" method="POST">
                    <div class="mb-3 text-start">
                                <input type="hidden" name="id" class="form-control" id="nome" value="{{id}}">
                                <label class="form-label">Nome:</label>
                                <input type="name" name="nome" class="form-control" id="nome" value="{{nome}}" placeholder="digite o nome"> 
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label">Endereco:</label>
                                <input type="endereco" name="endereco" class="form-control" id="endereco" value="{{endereco}}" placeholder="digite o endereco">
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label">Bairro:</label>
                                <input type="bairro" name="bairro" class="form-control" id="bairro" value="{{bairro}}" placeholder="digite o bairro">
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label">Cep:</label>
                                <input type="number" name="cep" class="form-control" id="cep" value="{{cep}}" placeholder="digite o cep">
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label">Cidade:</label>
                                <input type="cidade" name="cidade" class="form-control" id="cidade" value="{{cidade}}" placeholder="digite a cidade">
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label">Estado:</label>
                                <input type="estado" name="estado" class="form-control" id="estado" value="{{estado}}" placeholder="digite o estado">
                            </div>
                    <div class="mb-3 text-start">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </p>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>